[SimGEN]
ip = 127.0.0.1
average_run_time = 1.0

[dynamic]
ip = 127.0.0.1
#port = 5251
#dt = -1684200.0
#x_scale = 1e3
#v_scale = 1e3
#omega_scale = 0.01745329252
vector_processor_caller_period = 0.2

[systems]
ip = 127.0.0.1
port = 5257

[TDsrv]
#srv_host = 172.20.32.102
#srv_port = 5258
#clt_host = 172.20.32.61
#clt_port = 5262

[main]
mov_filter_accuracy = 1e-1 2e-2
quat_filter_accuracy = 1e-1
dt_GPS = -10783
predict_dt = 0.2

